.header {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap:10px;
}

.logo {
  font-size:32px;
  display:flex;
  align-items:center;
  color:white;

}

.search {
  flex:1;
  display:flex;
  align-items:center;
  padding-left:13px;
}

.input {
  background: transparent;
  font-size: 18px;
  padding: 13px;
  width:100%;
}

.input:focus {
  outline: none;
}

.button {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.search, .button {
  background: #1E2326;
  border-radius: 12px;
}

.quantity {
  width:18px;
  height:18px;
  background:#1CEA87;
  color:#000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  z-index: 5;
  position: absolute;
  top:-2px;
  right:-2px;
}